<header class="samples__header">
  <h2 class="typo-display-large margin-top-none margin-bottom-base">Typography</h2>
  <p class="typo-body-medium">
    Use typography to present your design and content as clearly and efficiently as possible.
  </p>
</header>
<section class="samples__body">
  <div class="samples-panel">
    <div>
      <fieldset>
        <h1 class="typo-display-large">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h1>
        <!-- <code>&lt;h1 class="typo-display-large"&gt;Display Large - Roboto 57/64 . 0 &lt;/h1&gt;</code> -->

        <h2 class="typo-display-medium">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h2>
        <!-- <code>&lt;h2 class="typo-display-medium"&gt;Display Medium - Roboto 45/52 . 0 &lt;/h2&gt;</code> -->

        <h3 class="typo-display-small">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h3>
        <!-- <code>&lt;h3 class="typo-display-small"&gt;Display Small - Roboto 36/44 . 0 &lt;/h3&gt;</code> -->
      </fieldset>
    </div>
    <div>
      <fieldset>
        <h4 class="typo-headline-large">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h4>
        <!-- <code>&lt;h4 class="typo-headline-large"&gt;Headline Large - Roboto 32/40 . 0 &lt;/h4&gt;</code> -->

        <h5 class="typo-headline-medium">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h5>
        <!-- <code>&lt;h5 class="typo-headline-medium"&gt;Headline Medium - Roboto 28/36 . 0 &lt;/h5&gt;</code> -->

        <h6 class="typo-headline-small">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h6>
        <!-- <code>&lt;h6 class="typo-headline-small"&gt;Headline Small - Roboto 24/32 . 0 &lt;/h6&gt;</code> -->
      </fieldset>
    </div>
    <div>
      <fieldset>
        <p class="card-title">Android + Web</p>
        <h1 class="typo-title-large">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h1>
        <!-- <code>&lt;h1 class="typo-title-large"&gt;Title Large - Roboto Medium 22/28 . 0 &lt;/h1&gt;</code> -->

        <h2 class="typo-title-medium">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h2>
        <!-- <code>&lt;h2 class="typo-title-medium"&gt;Title Medium - Roboto Medium 16/24 . +0.15 &lt;/h2&gt;</code> -->

        <h3 class="typo-title-small">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h3>
        <!-- <code>&lt;h3 class="typo-title-small"&gt;Title Small - Roboto Medium 14/20 . +0.1 &lt;/h3&gt;</code> -->
      </fieldset>
    </div>
    <div>
      <fieldset>
        <p class="card-title">Android + Web</p>
        <h1 class="typo-label-large">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h1>
        <!-- <code>&lt;h1 class="typo-label-large"&gt;Label Large - Roboto Medium 14/20 . +0.1 &lt;/h1&gt;</code> -->

        <h2 class="typo-label-medium">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h2>
        <!-- <code>&lt;h2 class="typo-label-medium"&gt;Label Medium - Roboto Medium 12/16 . +0.5 &lt;/h2&gt;</code> -->

        <h3 class="typo-label-small">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</h3>
        <!-- <code>&lt;h3 class="typo-label-small"&gt;Label Small - Roboto Medium 11/16 . +0.5 &lt;/h3&gt;</code> -->
      </fieldset>
    </div>
    <div>
      <fieldset>
        <p class="card-title">Android + Web</p>
        <p class="typo-body-large">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</p>
        <!-- <code>&lt;p class="typo-body-large"&gt;Body Large - Roboto 16/24 . +0.15 &lt;/p&gt;</code> -->

        <p class="typo-body-medium">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</p>
        <!-- <code>&lt;p class="typo-body-medium"&gt;Body Medium - Roboto 14/20 . +0.25 &lt;/p&gt;</code> -->

        <p class="typo-body-small">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</p>
        <!-- <code>&lt;p class="typo-body-small"&gt;Body Small - Roboto 12/16 . +0.4 &lt;/p&gt;</code> -->
      </fieldset>
    </div>
  </div>
</section>
