@keyframes scaling {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scalingY {
  from {
    transform: scaleY(0.7);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
