@each $colorName, $colorHue, $colorSaturation, $colorLight, $rotatedColorName, $rotatedColorValue in $colors {
  // basic buttons
  .btn-basic-#{$colorName} .mdc-button__label {
    color: var(--bg-dark-#{$colorName}-1);
  }

  .btn-basic-#{$colorName} .mat-mdc-button-persistent-ripple::before {
    background-color: var(--#{$colorName}-color) !important;
  }

  // raised buttons

  .btn-Raised-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
    @if ($colorName!=white) {
      color: var(--white-color) !important;
    }
  }

  // stroked buttons

  .btn-stroked-#{$colorName} .mdc-button__label {
    color: var(--bg-dark-#{$colorName}-1);
  }

  .btn-stroked-#{$colorName} .mat-mdc-button-persistent-ripple::before {
    background-color: var(--#{$colorName}-color) !important;
  }

  .btn-stroked-#{$colorName}:hover {
    border-color: var(--bg-dark-#{$colorName}-1) !important;
  }

  // flat buttons

  .btn-flat-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
    @if ($colorName!=white) {
      color: var(--white-color) !important;
    }
  }
}

.mat-mdc-button-base:not(.mdc-icon-button) {
  font-family: var(--font-family) !important;
}

.btn-sm {
  font-size: 12px;
}

.btn-lg {
  font-size: 16px;
}
