// start of design system buttons

@each $colorName, $colorHue, $colorSaturation, $colorLight, $rotatedColorName, $rotatedColorValue in $colors {
  // basic buttons
  .btn-basic-#{$colorName} .mdc-button__label {
    color: var(--#{$colorName}-color);
  }

  .btn-basic-#{$colorName} .mat-mdc-button-persistent-ripple::before {
    background-color: var(--#{$colorName}-color) !important;
  }

  // raised buttons

  .btn-Raised-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
    @if ($colorName!=white) {
      color: var(--white-color) !important;
    }
  }

  // stroked buttons

  .btn-stroked-#{$colorName} .mdc-button__label {
    color: var(--#{$colorName}-color);
  }

  .btn-stroked-#{$colorName} .mat-mdc-button-persistent-ripple::before {
    background-color: var(--#{$colorName}-color) !important;
  }

  .btn-stroked-#{$colorName}:hover {
    border-color: var(--#{$colorName}-color) !important;
  }

  // flat buttons

  .btn-flat-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
    @if ($colorName!=white) {
      color: var(--white-color) !important;
    }
  }

  // icon buttons

  .btn-icon-#{$colorName} .mat-mdc-button-persistent-ripple::before {
    background-color: var(--#{$colorName}-color) !important;
  }

  .btn-icon-#{$colorName} shared-icon {
    color: var(--#{$colorName}-color);
  }

  // fab buttons

  .btn-fab-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
  }

  // mini fab buttons

  .btn-mini-fab-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
  }

  .btn-mini-fab-#{$colorName} .mdc-button__label {
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
  }

  // fab extended buttons

  .btn-fab-extended-#{$colorName} {
    background-color: var(--#{$colorName}-color) !important;
  }
}

.mat-mdc-button-base:not(.mdc-icon-button) {
  font-family: var(--font-family) !important;
}

.btn-sm {
  font-size: 12px;
}

.btn-lg {
  font-size: 16px;
}

.btn-sm.mdc-icon-button {
  transform-origin: center;
  transform: scale(0.8);
}

.btn-lg.mdc-icon-button {
  transform-origin: center;
  transform: scale(1.2);
}

[mat-icon-button] {
  font-size: 14px !important;
}

.mdc-button__label {
  display: flex !important;
}

[mat-fab][extended] {
  transform: scale(0.9) !important;
  margin: 0 -4px;
}

[mat-fab][extended].btn-sm {
  transform: scale(0.8) !important;
  margin: 0 -10px;
}

[mat-fab][extended].btn-lg {
  transform: scale(1) !important;
  margin: 0 1px;
}

// end of design system buttons
