@each $colorName, $colorHue, $colorSaturation, $colorLight, $rotatedColorName, $rotatedColorValue in $colors {
  //**************************************** text
  .text-#{$colorName} {
    color: hsl($colorHue, $colorSaturation, $colorLight);
  }

  // opacity
  @for $i from 0 through 9 {
    .text-opacity-#{$colorName}-#{$i} {
      color: hsl($colorHue, $colorSaturation, $colorLight, #{$i/10});
    }
  }

  // lighter
  @for $i from 1 through 10 {
    .text-#{$colorName}-light-#{$i * 5} {
      color: hsl($colorHue, $colorSaturation, calc(#{$colorLight} + #{$i * 5}%));
    }
  }

  // darker
  @for $i from 1 through 10 {
    .text-#{$colorName}-dark-#{$i * 5} {
      color: hsl($colorHue, $colorSaturation, calc(#{$colorLight} - #{$i * 5}%));
    }
  }
  //**************************************** end of text

  //**************************************** background
  .bg-#{$colorName} {
    background-color: hsl($colorHue, $colorSaturation, $colorLight);
  }

  // opacity
  @for $i from 0 through 9 {
    .bg-opacity-#{$colorName}-#{$i} {
      background-color: hsl($colorHue, $colorSaturation, $colorLight, #{$i/10});
    }
  }

  // lighter
  @for $i from 1 through 10 {
    .bg-#{$colorName}-light-#{$i * 5} {
      background-color: hsl($colorHue, $colorSaturation, calc(#{$colorLight} + #{$i * 5}%));
    }
  }

  // darker
  @for $i from 1 through 10 {
    .bg-#{$colorName}-dark-#{$i * 5} {
      background-color: hsl($colorHue, $colorSaturation, calc(#{$colorLight} - #{$i * 5}%));
    }
  }
  //**************************************** end of background

  //**************************************** gradient background
  .gradient-#{$colorName} {
    background-image: linear-gradient(180deg, hsl($colorHue, $colorSaturation, $colorLight), $rotatedColorValue);
  }
  //**************************************** end gradient background
}
