// text align

.text-inherit {
  text-align: inherit;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// text transform

.text-transform-inherit {
  text-transform: inherit;
}

.text-transform-none {
  text-transform: none;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

// outline

.outline-none {
  outline: none;
}

// bg

.bg-transparent {
  background-color: transparent;
}

// pointer

.pointer-cursor {
  cursor: pointer;
}
