// text align

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// text transform

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

// outline

.outline-none {
  outline: none;
}

// bg

.bg-transparent {
  background-color: transparent;
}

// cursor pointer

.pointer-cursor {
  cursor: pointer;
}
