// text

.text-align-inherit {
  text-align: inherit;
}

.text-underline {
  text-decoration: underline !important;
}

.text-no-underline {
  text-decoration: none !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}

.text-transform-inherit {
  text-transform: inherit;
}

.text-transform-none {
  text-transform: none;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

// outline

.outline-none {
  outline: none;
}

// bg

.bg-transparent {
  background-color: transparent;
}

// pointer

.pointer-cursor {
  cursor: pointer;
}

// display

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-stretch {
  justify-content: stretch;
}

.align-item-start {
  align-items: flex-start;
}

.align-item-end {
  align-items: flex-end;
}

.align-item-center {
  align-items: center;
}

.align-item-around {
  align-items: space-around;
}

.align-item-between {
  align-items: space-between;
}

.align-item-evenly {
  align-items: space-evenly;
}

.align-item-stretch {
  align-items: stretch;
}
