:root {
  //==========================================> system color  <=============================================//
  // primary
  --primary-hue: 265;
  --primary-saturation: 100%;
  --primary-light: 50%;

  --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));
  --rotated-primary-color: hsl(calc(var(--primary-hue) + 30), var(--primary-saturation), var(--primary-light));

  // secondry
  --secondry-hue: 240;
  --secondry-saturation: 100%;
  --secondry-light: 50%;

  --secondry-color: hsl(var(--secondry-hue), var(--secondry-saturation), var(--secondry-light));
  --rotated-secondry-color: hsl(calc(var(--secondry-hue) + 30), var(--secondry-saturation), var(--secondry-light));

  // third
  --third-hue: 20;
  --third-saturation: 100%;
  --third-light: 50%;

  --third-color: hsl(var(--third-hue), var(--third-saturation), var(--third-light));
  --rotated-third-color: hsl(calc(var(--third-hue) + 30), var(--third-saturation), var(--third-light));

  // info
  --info-hue: 187;
  --info-saturation: 100%;
  --info-light: 50%;

  --info-color: hsl(var(--info-hue), var(--info-saturation), var(--info-light));
  --rotated-info-color: hsl(calc(var(--info-hue) + 30), var(--info-saturation), var(--info-light));

  // success
  --success-hue: 122;
  --success-saturation: 39%;
  --success-light: 50%;

  --success-color: hsl(var(--success-hue), var(--success-saturation), var(--success-light));
  --rotated-success-color: hsl(calc(var(--success-hue) + 30), var(--success-saturation), var(--success-light));

  // warning
  --warning-hue: 36;
  --warning-saturation: 100%;
  --warning-light: 50%;

  --warning-color: hsl(var(--warning-hue), var(--warning-saturation), var(--warning-light));
  --rotated-warning-color: hsl(calc(var(--warning-hue) + 30), var(--warning-saturation), var(--warning-light));

  // danger
  --danger-hue: 4;
  --danger-saturation: 100%;
  --danger-light: 50%;

  --danger-color: hsl(var(--danger-hue), var(--danger-saturation), var(--danger-light));
  --rotated-danger-color: hsl(calc(var(--danger-hue) + 30), var(--danger-saturation), var(--danger-light));

  // rose
  --rose-hue: 340;
  --rose-saturation: 100%;
  --rose-light: 50%;

  --rose-color: hsl(var(--rose-hue), var(--rose-saturation), var(--rose-light));
  --rotated-rose-color: hsl(calc(var(--rose-hue) + 30), var(--rose-saturation), var(--rose-light));

  // purple
  --purple-hue: 291;
  --purple-saturation: 100%;
  --purple-light: 50%;

  --purple-color: hsl(var(--purple-hue), var(--purple-saturation), var(--purple-light));
  --rotated-purple-color: hsl(calc(var(--purple-hue) + 30), var(--purple-saturation), var(--purple-light));

  // white
  --white-hue: 0;
  --white-saturation: 0%;
  --white-light: 100%;

  --white-color: hsl(var(--white-hue), var(--white-saturation), var(--white-light));
  --rotated-white-color: hsl(calc(var(--white-hue) + 30), var(--white-saturation), var(--white-light));

  // black
  --black-hue: 0;
  --black-saturation: 0%;
  --black-light: 0%;

  --black-color: hsl(var(--black-hue), var(--black-saturation), var(--black-light));
  --rotated-black-color: hsl(calc(var(--black-hue) + 30), var(--black-saturation), var(--black-light));

  //==========================================> system spaces  <=============================================//
}

$fonts-paths: "/assets/fonts";
