<!-- TODO container-->
<section class="typo samples">
  <header class="samples__header">
    <h2 class="typo-display-large mb-xl margin-top-none">Typography</h2>
    <p class="typo-body-medium mb-xl">Use typography to present your design and content as clearly and efficiently as possible.</p>
  </header>
  <section class="samples__body">
    <div class="samples-panel">
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h1 class="typo-display-large mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-large')"
            [cdkCopyToClipboard]="'typo-display-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h1>
        <h2 class="typo-display-medium mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-medium')"
            [cdkCopyToClipboard]="'typo-display-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h2>
        <h3 class="typo-display-small">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-small')"
            [cdkCopyToClipboard]="'typo-display-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h3>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h4 class="typo-headline-large mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-headline-large')"
            [cdkCopyToClipboard]="'typo-headline-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h4>
        <h5 class="typo-headline-medium mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-headline-medium')"
            [cdkCopyToClipboard]="'typo-headline-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h5>
        <h6 class="typo-headline-small">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-headline-small')"
            [cdkCopyToClipboard]="'typo-headline-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h6>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <p class="card-title">Android + Web</p>
        <h1 class="typo-title-large mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-title-large')"
            [cdkCopyToClipboard]="'typo-title-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h1>
        <h2 class="typo-title-medium mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-title-medium')"
            [cdkCopyToClipboard]="'typo-title-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h2>
        <h3 class="typo-title-small">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-title-small')"
            [cdkCopyToClipboard]="'typo-title-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h3>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <p class="card-title">Android + Web</p>
        <h1 class="typo-label-large mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-label-large')"
            [cdkCopyToClipboard]="'typo-label-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h1>
        <h2 class="typo-label-medium mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-label-medium')"
            [cdkCopyToClipboard]="'typo-label-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h2>
        <h3 class="typo-label-small">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-label-small')"
            [cdkCopyToClipboard]="'typo-label-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </h3>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <p class="card-title">Android + Web</p>
        <p class="typo-body-large mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-body-large')"
            [cdkCopyToClipboard]="'typo-body-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </p>
        <p class="typo-body-medium mb-xl">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-body-medium')"
            [cdkCopyToClipboard]="'typo-body-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </p>
        <p class="typo-body-small">
          لمّا كان الاعتراف بالكرامة المتأصلة في جميع
          <button
            mat-mini-fab
            (click)="showCopyToaster('typo-body-small')"
            [cdkCopyToClipboard]="'typo-body-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button>
        </p>
      </fieldset>
    </div>
  </section>
</section>
