<div class="shared-input">
  <ng-container *ngIf="passedFormControl">
    <!-- floatLabel="always" always | auto -->
    <mat-form-field [appearance]="appearance" [class.no-validations]="showValidation">
      <mat-label class="text-capitalize">{{ label }}</mat-label>
      <input matInput [formControl]="passedFormControl" [value]="passedFormControl.value" [placeholder]="placeholder" />
      <!-- TODO matPrefix not working with [appearance]="outline" -->
      <shared-icon *ngIf="matPrefixIconName" matPrefix [name]="matPrefixIconName"></shared-icon>
      <shared-icon *ngIf="matSuffixIconName" matSuffix [name]="matSuffixIconName"></shared-icon>
      <button *ngIf="passedFormControl.value" mat-icon-button matSuffix (click)="clearControl()">
        <shared-icon name="close"></shared-icon>
      </button>
      <mat-error>
        <shared-validations-messages [errors]="passedFormControl.errors"></shared-validations-messages>
      </mat-error>

      <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="!passedFormControl">
    <mat-form-field [appearance]="appearance" [class.no-validations]="showValidation">
      <mat-label class="text-capitalize">{{ label }}</mat-label>
      <input #input matInput (input)="onInput.emit(input.value)" [placeholder]="placeholder" />
      <shared-icon *ngIf="matPrefixIconName" matPrefix [name]="matPrefixIconName"></shared-icon>
      <shared-icon *ngIf="matSuffixIconName" matSuffix [name]="matSuffixIconName"></shared-icon>
      <button *ngIf="input.value" mat-icon-button matSuffix (click)="clearInput(); onInputEmit()">
        <shared-icon name="close"></shared-icon>
      </button>
      <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </mat-form-field>
  </ng-container>
</div>
