@import "../../codex-lib/src/lib/assets/scss/colors";
@import "../../codex-lib/src/lib/assets/scss/fonts";
@import "../../codex-lib/src/lib/assets/scss/typography";
@import "../../codex-lib/src/lib/assets/scss/borders";
@import "../../codex-lib/src/lib/assets/scss/buttons";
@import "../../codex-lib/src/lib/assets/scss/dialog.scss";
@import "../../codex-lib/src/lib/assets/scss/spaces";
@import "../../codex-lib/src/lib/assets/scss/grid";
@import "../../codex-lib/src/lib/assets/scss/utils";
@import "../../codex-lib/src/lib/assets/scss/screens";
@import "../../codex-lib/src/lib/assets/scss/animations.scss";
@import "../../codex-lib/src/lib/assets/scss/material-theming";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// @import "~@ng-select/ng-select/themes/material.theme.css";
// @import "projects/codex-lib/src/lib/assets/scss/ng-select/material.theme.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  // background-color: $body-bg;
  font-weight: unset;

  &.rtl {
    direction: rtl;
    text-align: right;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-dark-white-1);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $white;
  background-color: var(--bg-dark-white-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark-elements-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--elements-color);
}

// reset h1,h2,h3,h4,h5,h6,p
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// samples
.samples {
  width: 80%;
  margin: 0 auto;

  @include xxl {
    width: 95%;
  }
}

.samples__header {
  padding: var(--space-xxxl);
  position: relative;
  overflow: hidden;
  border-top-left-radius: var(--border-radius-rounded);
  border-top-right-radius: var(--border-radius-rounded);
  color: var(--white-color);

  &::before {
    content: "";
    background: linear-gradient(172deg, var(--elements-color), var(--bg-dark-elements-8));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.samples__body {
  background-color: var(--bg-dark-white-1);
  padding: var(--space-xl);
  position: relative;
  overflow: hidden;
  min-height: 50vh;
}

// dashboard common sections

.dashboard-page-header {
  zoom: 1;

  .title-with-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-base);

    .title {
      zoom: 1;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
    }
  }

  .advanced-search {
    margin-bottom: var(--space-sm);
    background-color: var(--white-color);
    border-radius: var(--border-radius-soft);

    .form {
      padding: var(--space-base);
    }
  }
}
