<section class="typo samples">
  <header class="samples__header">
    <h2 class="typo-display-large mb-xl margin-top-none">borders</h2>
    <p class="typo-body-medium mb-xl">Use borders to present your design and content as clearly and efficiently as possible.</p>
  </header>
  <section class="samples__body">
    <div class="samples-panel">
      <h1 class="typo-display-small mb-base text-purple-dark-15">border size</h1>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <div class="border-sizing-element border-none p-lg typo-title-large m-base">
          border-none
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-none')"
            [cdkCopyToClipboard]="'border-none'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-sizing-element border-base p-lg typo-title-large m-base">
          border-base
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-base')"
            [cdkCopyToClipboard]="'border-base'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-sizing-element border-medium p-lg typo-title-large m-base">
          border-medium
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-medium')"
            [cdkCopyToClipboard]="'border-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-sizing-element border-large p-lg typo-title-large m-base">
          border-large
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-large')"
            [cdkCopyToClipboard]="'border-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-sizing-element border-extra p-lg typo-title-large m-base">
          border-extra
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-extra')"
            [cdkCopyToClipboard]="'border-extra'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
      </fieldset>
    </div>
    <div class="samples-panel">
      <h1 class="typo-display-small mb-base text-purple-dark-15">border radius</h1>
      <fieldset class="mb-xl border-radius-medium p-xl display-flex flex-wrap">
        <div class="border-radius-element border-radius-none p-lg typo-title-large m-base">
          border-radius-none
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-none')"
            [cdkCopyToClipboard]="'border-radius-none'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-tiny p-lg typo-title-large m-base">
          border-radius-tiny
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-tiny')"
            [cdkCopyToClipboard]="'border-radius-tiny'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-soft p-lg typo-title-large m-base">
          border-radius-soft
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-soft')"
            [cdkCopyToClipboard]="'border-radius-soft'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-medium p-lg typo-title-large m-base">
          border-radius-medium
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-medium')"
            [cdkCopyToClipboard]="'border-radius-medium'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-large p-lg typo-title-large m-base">
          border-radius-large
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-large')"
            [cdkCopyToClipboard]="'border-radius-large'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-rounded p-lg typo-title-large m-base">
          border-radius-rounded
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-rounded')"
            [cdkCopyToClipboard]="'border-radius-rounded'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
        <div class="border-radius-element border-radius-circle p-lg typo-title-large m-base">
          border-radius-circle
          <button
            mat-mini-fab
            (click)="showCopyToaster('border-radius-circle')"
            [cdkCopyToClipboard]="'border-radius-circle'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20"
          >
            <shared-icon name="content_copy" />
          </button>
        </div>
      </fieldset>
    </div>
  </section>
</section>
