<section class="typo samples">
  <header class="samples__header">
    <h2 class="typo-display-large mb-xl margin-top-none">screens</h2>
    <p class="typo-body-medium mb-xl">Use screens to present your design and content as clearly and efficiently as possible.</p>
  </header>
  <section class="samples__body">
    <div class="samples-panel">
      <h3 class="typo-headline-medium">import this line in scss first</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #importSass class="typo-body-medium text-success my-base d-block">&commat;import "assets/scss/screens"; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(importSass.textContent!)"
          [cdkCopyToClipboard]="importSass.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </div>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">mobile => xs (max-width: 380px)</h2>
        <code #xs class="typo-body-medium text-success"> &commat;include xs &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xs.textContent!)"
          [cdkCopyToClipboard]="xs.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">tablet => sm (max-width: 576px)</h2>
        <code #sm class="typo-body-medium text-success"> &commat;include sm &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(sm.textContent!)"
          [cdkCopyToClipboard]="sm.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">normal screen => md (max-width: 768px)</h2>
        <code #md class="typo-body-medium text-success"> &commat;include md &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(md.textContent!)"
          [cdkCopyToClipboard]="md.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">large screen => lg (max-width: 992px)</h2>
        <code #lg class="typo-body-medium text-success"> &commat;include lg &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(lg.textContent!)"
          [cdkCopyToClipboard]="lg.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">extra large screen => xl (max-width: 1300px)</h2>
        <code #xl class="typo-body-medium text-success"> &commat;include xl &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xl.textContent!)"
          [cdkCopyToClipboard]="xl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">extra extra large screen => xxl (max-width: 1500px)</h2>
        <code #xxl class="typo-body-medium text-success"> &commat;include xxl &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xxl.textContent!)"
          [cdkCopyToClipboard]="xxl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">extra extra extra large screen => xxxl (min-width: 1501px)</h2>
        <code #xxxl class="typo-body-medium text-success"> &commat;include xxxl &lcub; your code here... &rcub; </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xxxl.textContent!)"
          [cdkCopyToClipboard]="xxxl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button>
      </fieldset>
    </div>
  </section>
</section>
