<section class="dashboard">
  <div class="side-nav-wrapper">
    <aside class="side-nav" (click)="openSideNave()">
      <div class="menu-toggler">
        <button
          class="full-button"
          appStopProbagation
          mat-button
          (click)="toggleSideNav()"
          [matTooltip]="'shared.dashboard.sideNav' | translate"
          matTooltipPosition="below"
        >
          <shared-icon *ngIf="sideNavStatus === 'closed'" [name]="'more_vert'"></shared-icon>
          <shared-icon *ngIf="sideNavStatus === 'opened'" [name]="'settings_ethernet'"></shared-icon>
          <shared-icon *ngIf="sideNavStatus === 'collapsed'" [name]="'drag_indicator'"></shared-icon>
        </button>
      </div>
      <div class="logo" [class.collapsed]="sideNavStatus === 'collapsed'">
        <img *ngIf="sideNavStatus === 'opened'" src="assets/images/logo/angular_logo.png" alt="" />
        <img *ngIf="sideNavStatus === 'collapsed'" src="assets/images/logo/short_logo.png" alt="" />
      </div>
      <div class="user" [class.collapsed]="sideNavStatus === 'collapsed'" *ngIf="user">
        <div class="user-image">
          <img
            [src]="user.img"
            [matTooltip]="user.nameEn"
            matTooltipPosition="after"
            [matTooltipDisabled]="sideNavStatus !== 'collapsed'"
            alt=""
          />
        </div>
        <h5 class="username">{{ user.nameEn }}</h5>
        <span class="user-title">{{ user.title }}</span>
      </div>
      <div class="links" #links>
        <mat-accordion>
          <ng-container *ngFor="let dropdown of menu">
            <mat-selection-list *ngIf="!dropdown.subDropdowns.length">
              <mat-list-item
                [routerLink]="[dropdown.routing]"
                routerLinkActive="link-active"
                (isActiveChange)="activeChange($event)"
                [class.collapsed]="sideNavStatus === 'collapsed'"
                [matTooltip]="dropdown.nameEn"
                matTooltipPosition="after"
                [matTooltipDisabled]="sideNavStatus !== 'collapsed'"
              >
                <a href="javascript:void(0)" class="link">
                  <shared-icon [name]="dropdown.icon"></shared-icon>
                  <span class="link-title">{{ dropdown.nameEn }}</span>
                </a>
              </mat-list-item>
            </mat-selection-list>
            <mat-expansion-panel *ngIf="dropdown.subDropdowns.length" [hideToggle]="sideNavStatus === 'collapsed'">
              <mat-expansion-panel-header
                [attr.custom-id]="dropdown.id"
                [class.collapsed]="sideNavStatus === 'collapsed'"
                [matTooltip]="dropdown.nameEn"
                matTooltipPosition="after"
                [matTooltipDisabled]="sideNavStatus !== 'collapsed'"
              >
                <mat-panel-title>
                  <div class="link">
                    <shared-icon [name]="dropdown.icon || 'check_indeterminate_small'"></shared-icon>
                    <span class="link-title">{{ dropdown.nameEn }}</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-container *ngFor="let subDropdown of dropdown.subDropdowns">
                <mat-selection-list *ngIf="!subDropdown.subDropdowns.length">
                  <mat-list-item
                    class="mat-list-item-p-0"
                    [routerLink]="[subDropdown.routing]"
                    routerLinkActive="link-active"
                    (isActiveChange)="activeChange($event, dropdown.id)"
                  >
                    <a href="javascript:void(0)" class="link">
                      <shared-icon [name]="subDropdown.icon || 'check_indeterminate_small'"></shared-icon>
                      <span class="link-title">{{ subDropdown.nameEn }}</span>
                    </a>
                  </mat-list-item>
                </mat-selection-list>
                <mat-expansion-panel *ngIf="subDropdown.subDropdowns.length" [hideToggle]="sideNavStatus === 'collapsed'">
                  <mat-expansion-panel-header [attr.customId]="subDropdown.id">
                    <mat-panel-title>
                      <div class="link">
                        <shared-icon [name]="subDropdown.icon || 'check_indeterminate_small'"></shared-icon>
                        <span class="link-title">{{ subDropdown.nameEn }}</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <ng-container *ngFor="let subSubDropdown of subDropdown.subDropdowns">
                    <mat-selection-list *ngIf="!subSubDropdown.subDropdowns.length">
                      <mat-list-item class="mat-list-item-p-0">
                        <a
                          href="javascript:void(0)"
                          class="link"
                          [routerLink]="[subSubDropdown.routing]"
                          routerLinkActive="link-active"
                          (isActiveChange)="activeChange($event, subDropdown.id)"
                        >
                          <shared-icon [name]="subSubDropdown.icon || 'pen_size_1'"></shared-icon>
                          <span class="link-title">{{ subSubDropdown.nameEn }}</span>
                        </a>
                      </mat-list-item>
                    </mat-selection-list>
                    <mat-expansion-panel *ngIf="subSubDropdown.subDropdowns.length" [hideToggle]="sideNavStatus === 'collapsed'">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="link">
                            <shared-icon [name]="subDropdown.icon || 'pen_size_1'"></shared-icon>
                            <span class="link-title">{{ subSubDropdown.nameEn }}</span>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                    </mat-expansion-panel>
                  </ng-container>
                </mat-expansion-panel>
              </ng-container>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
      <div class="buttons visible-lg">
        <ng-container *ngIf="sideNavStatus === 'opened'">
          <button
            class="full-button"
            mat-button
            (click)="toggleFullScreen()"
            [matTooltip]="'shared.dashboard.fullscreen' | translate"
            matTooltipPosition="above"
          >
            <shared-icon [name]="'fullscreen'"> </shared-icon>
          </button>
          <shared-language-menu
            class=""
            [buttonClasses]="'full-button'"
            [matTooltip]="'shared.dashboard.language' | translate"
            matTooltipPosition="above"
          ></shared-language-menu>
          <button class="full-button" mat-button [matTooltip]="'shared.dashboard.apperance' | translate" matTooltipPosition="above">
            <shared-icon [name]="'dark_mode'"></shared-icon>
          </button>
          <button class="full-button" mat-button [matTooltip]="'shared.dashboard.settings' | translate" matTooltipPosition="above">
            <shared-icon [name]="'settings'"></shared-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="sideNavStatus === 'collapsed'">
          <button class="full-button" mat-button [matTooltip]="'shared.dashboard.actions' | translate" matTooltipPosition="after">
            <shared-icon [name]="'expand_content'"> </shared-icon>
          </button>
        </ng-container>
      </div>
    </aside>
  </div>
  <div class="content">
    <nav class="nav" [class.fixed]="searchIsVisible">
      <div class="dashboard-search-field-wrapper" [class.visible]="searchIsVisible">
        <mat-form-field class="no-validations" appearance="outline">
          <mat-label>{{ "shared.dashboard.search" | translate }}</mat-label>
          <input
            #searchField="matInput"
            matInput
            type="text"
            [(ngModel)]="searchInput"
            (keyup.enter)="search(); hideSearch(); clearSearchInput()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="search(); hideSearch(); clearSearchInput()"
            [matTooltip]="'shared.dashboard.search' | translate"
            matTooltipPosition="below"
          >
            <shared-icon [name]="'search'"></shared-icon>
          </button>
        </mat-form-field>
        <button
          mat-icon-button
          (click)="hideSearch(); clearSearchInput()"
          [matTooltip]="'shared.buttons.close' | translate"
          matTooltipPosition="below"
        >
          <shared-icon [name]="'close'"></shared-icon>
        </button>
      </div>
      <div class="start">
        <div class="menu-toggler">
          <button
            class="full-button"
            mat-button
            (click)="toggleSideNav()"
            [matTooltip]="'shared.dashboard.sideNav' | translate"
            matTooltipPosition="below"
          >
            <shared-icon *ngIf="sideNavStatus === 'closed'" [name]="'more_vert'"></shared-icon>
            <shared-icon *ngIf="sideNavStatus === 'opened'" [name]="'settings_ethernet'"></shared-icon>
            <shared-icon *ngIf="sideNavStatus === 'collapsed'" [name]="'drag_indicator'"></shared-icon>
          </button>
        </div>
        <!-- <div class="dropdowns">
          <button class="full-button" mat-button [matMenuTriggerFor]="firstMenu">Menu</button>
          <mat-menu #firstMenu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <button class="full-button" mat-button [matMenuTriggerFor]="secondMenu">Menu</button>
          <mat-menu #secondMenu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div> -->
      </div>
      <div class="end">
        <div class="buttons">
          <button
            class="full-button"
            mat-button
            (click)="toggleSearch()"
            [matTooltip]="'shared.dashboard.search' | translate"
            matTooltipPosition="below"
          >
            <shared-icon [name]="'search'"></shared-icon>
          </button>
          <!-- <button class="full-button" mat-button (click)="toggleSearch()" [matTooltip]="'shared.dashboard.search'|translate" matTooltipPosition="below">
            <shared-icon [name]="'search'"></shared-icon>
          </button>
          <button
            class="full-button"
            mat-button
            (click)="toggleSearch()"
            cdkOverlayOrigin
            #searchTrigger="cdkOverlayOrigin"
            [matTooltip]="'shared.dashboard.search'|translate"
            matTooltipPosition="below"
          >
            <shared-icon [name]="'search'"></shared-icon>
          </button>

          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="searchTrigger"
            [cdkConnectedOverlayOpen]="searchIsVisible"
            (backdropClick)="hideSearch()"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayPositions]="[
              { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' },
              { originX: 'end', originY: 'top', overlayX: 'end', overlayY: 'bottom' },
              { originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top' },
              { originX: 'start', originY: 'top', overlayX: 'start', overlayY: 'bottom' },
              { originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top' },
              { originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom' },
              { originX: 'end', originY: 'bottom', overlayX: 'start', overlayY: 'top' },
              { originX: 'start', originY: 'bottom', overlayX: 'end', overlayY: 'top' },
              { originX: 'end', originY: 'top', overlayX: 'start', overlayY: 'bottom' },
              { originX: 'start', originY: 'top', overlayX: 'end', overlayY: 'bottom' }
            ]"
            cdkConnectedOverlayBackdropClass="custom-class"
          >
            <div class="dashboard-search-field-wrapper">
              <mat-form-field class="no-validations" appearance="outline">
                <mat-label>search</mat-label>
                <input
                  matInput
                  type="text"
                  cdkTrapFocus
                  [cdkTrapFocusAutoCapture]="true"
                  [(ngModel)]="searchInput"
                  (keyup.enter)="search(); hideSearch(); clearSearchInput()"
                />
                <button mat-icon-button matSuffix (click)="search(); hideSearch(); clearSearchInput()">
                  <shared-icon [name]="'search'"></shared-icon>
                </button>
              </mat-form-field>
            </div>
          </ng-template> -->

          <button
            class="full-button hide-lg"
            mat-button
            (click)="toggleFullScreen()"
            [matTooltip]="'shared.dashboard.fullscreen' | translate"
            matTooltipPosition="below"
          >
            <shared-icon [name]="'fullscreen'"> </shared-icon>
          </button>
          <shared-language-menu
            class="hide-lg"
            [buttonClasses]="'full-button'"
            [matTooltip]="'shared.dashboard.language' | translate"
            matTooltipPosition="below"
          ></shared-language-menu>
          <!-- TODO notifications -->
          <button
            class="full-button"
            mat-button
            [matTooltip]="'shared.dashboard.notifications' | translate"
            matTooltipPosition="below"
            [matMenuTriggerFor]="notificationMenu"
          >
            <shared-icon [name]="'notifications'" matBadge="10" matBadgePosition="above after"></shared-icon>
          </button>
          <mat-menu #notificationMenu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <button class="full-button hide-lg" mat-button [matTooltip]="'shared.dashboard.apperance' | translate" matTooltipPosition="below">
            <shared-icon [name]="'dark_mode'"></shared-icon>
          </button>
        </div>
        <div class="user" *ngIf="user">
          <button class="full-button" mat-button [matMenuTriggerFor]="userMenu" [matTooltip]="user.nameEn" matTooltipPosition="below">
            <!-- <shared-icon [name]="'account_blur_on'"></shared-icon> -->
            <img src="assets/images/icons_png/user_icon.png" alt="" />
            <div class="data">
              <span>
                {{ user.nameEn | slice : 0 : user.nameEn.indexOf(" ") }}
              </span>
              <span class="hide-lg">
                {{ user.title }}
              </span>
            </div>
            <shared-icon [name]="'keyboard_arrow_down'"></shared-icon>
          </button>
          <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item>Item 3</button>
          </mat-menu>
        </div>
        <!-- TODO -->
        <!-- <div class="second-buttons hide-lg">
          <button class="full-button" mat-button [matTooltip]="'shared.dashboard.settings'|translate" matTooltipPosition="below">
            <shared-icon [name]="'settings'"></shared-icon>
          </button>
        </div> -->
      </div>
    </nav>
    <ng-content select="[routes]" class="routes"></ng-content>
  </div>
</section>
