<div class="login">
  <div class="form-wrapper">
    <span></span>
    <span></span>
    <span></span>

    <form>
      <h4 class="typo-display-small">login</h4>

      <input type="text" placeholder="username" />
      <input type="password" placeholder="password" />

      <div class="links">
        <a class="typo-body-small" href="#">forget password?</a>

        <a class="typo-body-small" href="#">signup</a>
      </div>

      <button class="typo-body-large" type="button">login</button>
    </form>
  </div>
</div>
