<section class="typo samples">
  <header class="samples__header">
    <h2 class="typo-display-large mb-xl margin-top-none">buttons</h2>
    <p class="typo-body-medium mb-xl">Use buttons to present your design and content as clearly and efficiently as possible.</p>
  </header>
  <section class="samples__body">
    <div class="samples-panel">
      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Basic md Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-button>basic</button>
          <button mat-button class="btn-basic-primary">primary</button>
          <button mat-button class="btn-basic-secondry">secondry</button>
          <button mat-button class="btn-basic-third">third</button>
          <button mat-button class="btn-basic-info">info</button>
          <button mat-button class="btn-basic-warning">warning</button>
          <button mat-button class="btn-basic-success">success</button>
          <button mat-button class="btn-basic-danger">danger</button>
          <button mat-button class="btn-basic-rose">rose</button>
          <button mat-button class="btn-basic-purple">purple</button>
          <button mat-button class="btn-basic-black">black</button>
          <button mat-button class="btn-basic-elements">elements</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Basic sm Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-button class="btn-sm">basic</button>
          <button mat-button class="btn-basic-primary btn-sm">primary</button>
          <button mat-button class="btn-basic-secondry btn-sm">secondry</button>
          <button mat-button class="btn-basic-third btn-sm">third</button>
          <button mat-button class="btn-basic-info btn-sm">info</button>
          <button mat-button class="btn-basic-warning btn-sm">warning</button>
          <button mat-button class="btn-basic-success btn-sm">success</button>
          <button mat-button class="btn-basic-danger btn-sm">danger</button>
          <button mat-button class="btn-basic-rose btn-sm">rose</button>
          <button mat-button class="btn-basic-purple btn-sm">purple</button>
          <button mat-button class="btn-basic-black btn-sm">black</button>
          <button mat-button class="btn-basic-elements btn-sm">elements</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button class="btn-sm" routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Basic lg Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-button class="btn-lg">basic</button>
          <button mat-button class="btn-basic-primary btn-lg">primary</button>
          <button mat-button class="btn-basic-secondry btn-lg">secondry</button>
          <button mat-button class="btn-basic-third btn-lg">third</button>
          <button mat-button class="btn-basic-info btn-lg">info</button>
          <button mat-button class="btn-basic-warning btn-lg">warning</button>
          <button mat-button class="btn-basic-success btn-lg">success</button>
          <button mat-button class="btn-basic-danger btn-lg">danger</button>
          <button mat-button class="btn-basic-rose btn-lg">rose</button>
          <button mat-button class="btn-basic-purple btn-lg">purple</button>
          <button mat-button class="btn-basic-black btn-lg">black</button>
          <button mat-button class="btn-basic-elements btn-lg">elements</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button class="btn-lg" routerLink=".">link</a>
        </div>
        <!-- <code #xs class="typo-body-medium text-success">
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xs.textContent!)"
          [cdkCopyToClipboard]="xs.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Raised md Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-raised-button>Raised</button>
          <button mat-raised-button class="btn-Raised-primary">primary</button>
          <button mat-raised-button class="btn-Raised-secondry">secondry</button>
          <button mat-raised-button class="btn-Raised-third">third</button>
          <button mat-raised-button class="btn-Raised-info">info</button>
          <button mat-raised-button class="btn-Raised-warning">warning</button>
          <button mat-raised-button class="btn-Raised-success">success</button>
          <button mat-raised-button class="btn-Raised-danger">danger</button>
          <button mat-raised-button class="btn-Raised-rose">rose</button>
          <button mat-raised-button class="btn-Raised-purple">purple</button>
          <button mat-raised-button class="btn-Raised-white">white</button>
          <button mat-raised-button class="btn-Raised-black">black</button>
          <button mat-raised-button class="btn-Raised-elements">elements</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Raised sm Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-raised-button class="btn-sm">Raised</button>
          <button mat-raised-button class="btn-Raised-primary btn-sm">primary</button>
          <button mat-raised-button class="btn-Raised-secondry btn-sm">secondry</button>
          <button mat-raised-button class="btn-Raised-third btn-sm">third</button>
          <button mat-raised-button class="btn-Raised-info btn-sm">info</button>
          <button mat-raised-button class="btn-Raised-warning btn-sm">warning</button>
          <button mat-raised-button class="btn-Raised-success btn-sm">success</button>
          <button mat-raised-button class="btn-Raised-danger btn-sm">danger</button>
          <button mat-raised-button class="btn-Raised-rose btn-sm">rose</button>
          <button mat-raised-button class="btn-Raised-purple btn-sm">purple</button>
          <button mat-raised-button class="btn-Raised-white btn-sm">white</button>
          <button mat-raised-button class="btn-Raised-black btn-sm">black</button>
          <button mat-raised-button class="btn-Raised-elements btn-sm">elements</button>
          <button mat-raised-button class="btn-sm" disabled>Disabled</button>
          <a mat-raised-button class="btn-sm" routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Raised lg Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-raised-button class="btn-lg">Raised</button>
          <button mat-raised-button class="btn-Raised-primary btn-lg">primary</button>
          <button mat-raised-button class="btn-Raised-secondry btn-lg">secondry</button>
          <button mat-raised-button class="btn-Raised-third btn-lg">third</button>
          <button mat-raised-button class="btn-Raised-info btn-lg">info</button>
          <button mat-raised-button class="btn-Raised-warning btn-lg">warning</button>
          <button mat-raised-button class="btn-Raised-success btn-lg">success</button>
          <button mat-raised-button class="btn-Raised-danger btn-lg">danger</button>
          <button mat-raised-button class="btn-Raised-rose btn-lg">rose</button>
          <button mat-raised-button class="btn-Raised-purple btn-lg">purple</button>
          <button mat-raised-button class="btn-Raised-white btn-lg">white</button>
          <button mat-raised-button class="btn-Raised-black btn-lg">black</button>
          <button mat-raised-button class="btn-Raised-elements btn-lg">elements</button>
          <button mat-raised-button class="btn-lg" disabled>Disabled</button>
          <a mat-raised-button class="btn-lg" routerLink=".">link</a>
        </div>
        <!-- <code #sm class="typo-body-medium text-success">
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(sm.textContent!)"
          [cdkCopyToClipboard]="sm.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Stroked md Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-stroked-button>Stroked</button>
          <button mat-stroked-button class="btn-stroked-primary">primary</button>
          <button mat-stroked-button class="btn-stroked-secondry">secondry</button>
          <button mat-stroked-button class="btn-stroked-third">third</button>
          <button mat-stroked-button class="btn-stroked-info">info</button>
          <button mat-stroked-button class="btn-stroked-warning">warning</button>
          <button mat-stroked-button class="btn-stroked-success">success</button>
          <button mat-stroked-button class="btn-stroked-danger">danger</button>
          <button mat-stroked-button class="btn-stroked-rose">rose</button>
          <button mat-stroked-button class="btn-stroked-purple">purple</button>
          <button mat-stroked-button class="btn-stroked-white">white</button>
          <button mat-stroked-button class="btn-stroked-black">black</button>
          <button mat-stroked-button class="btn-stroked-elements">elements</button>
          <button mat-stroked-button disabled>Disabled</button>
          <a mat-stroked-button routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Stroked sm Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-stroked-button class="btn-sm">Stroked</button>
          <button mat-stroked-button class="btn-stroked-primary btn-sm">primary</button>
          <button mat-stroked-button class="btn-stroked-secondry btn-sm">secondry</button>
          <button mat-stroked-button class="btn-stroked-third btn-sm">third</button>
          <button mat-stroked-button class="btn-stroked-info btn-sm">info</button>
          <button mat-stroked-button class="btn-stroked-warning btn-sm">warning</button>
          <button mat-stroked-button class="btn-stroked-success btn-sm">success</button>
          <button mat-stroked-button class="btn-stroked-danger btn-sm">danger</button>
          <button mat-stroked-button class="btn-stroked-rose btn-sm">rose</button>
          <button mat-stroked-button class="btn-stroked-purple btn-sm">purple</button>
          <button mat-stroked-button class="btn-stroked-white btn-sm">white</button>
          <button mat-stroked-button class="btn-stroked-black btn-sm">black</button>
          <button mat-stroked-button class="btn-stroked-elements btn-sm">elements</button>
          <button mat-stroked-button class="btn-sm" disabled>Disabled</button>
          <a mat-stroked-button class="btn-sm" routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Stroked lg Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-stroked-button class="btn-lg">Stroked</button>
          <button mat-stroked-button class="btn-stroked-primary btn-lg">primary</button>
          <button mat-stroked-button class="btn-stroked-secondry btn-lg">secondry</button>
          <button mat-stroked-button class="btn-stroked-third btn-lg">third</button>
          <button mat-stroked-button class="btn-stroked-info btn-lg">info</button>
          <button mat-stroked-button class="btn-stroked-warning btn-lg">warning</button>
          <button mat-stroked-button class="btn-stroked-success btn-lg">success</button>
          <button mat-stroked-button class="btn-stroked-danger btn-lg">danger</button>
          <button mat-stroked-button class="btn-stroked-rose btn-lg">rose</button>
          <button mat-stroked-button class="btn-stroked-purple btn-lg">purple</button>
          <button mat-stroked-button class="btn-stroked-white btn-lg">white</button>
          <button mat-stroked-button class="btn-stroked-black btn-lg">black</button>
          <button mat-stroked-button class="btn-stroked-elements btn-lg">elements</button>
          <button mat-stroked-button class="btn-lg" disabled>Disabled</button>
          <a mat-stroked-button class="btn-lg" routerLink=".">link</a>
        </div>

        <!-- <code #md class="typo-body-medium text-success">
      </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(md.textContent!)"
          [cdkCopyToClipboard]="md.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Flat md Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-flat-button>Flat</button>
          <button mat-flat-button class="btn-flat-primary">primary</button>
          <button mat-flat-button class="btn-flat-secondry">secondry</button>
          <button mat-flat-button class="btn-flat-third">third</button>
          <button mat-flat-button class="btn-flat-info">info</button>
          <button mat-flat-button class="btn-flat-warning">warning</button>
          <button mat-flat-button class="btn-flat-success">success</button>
          <button mat-flat-button class="btn-flat-danger">danger</button>
          <button mat-flat-button class="btn-flat-rose">rose</button>
          <button mat-flat-button class="btn-flat-purple">purple</button>
          <button mat-flat-button class="btn-flat-black">black</button>
          <button mat-flat-button class="btn-flat-elements">elements</button>
          <button mat-flat-button disabled>Disabled</button>
          <a mat-flat-button routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Flat sm Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-flat-button class="btn-sm">Flat</button>
          <button mat-flat-button class="btn-flat-primary btn-sm">primary</button>
          <button mat-flat-button class="btn-flat-secondry btn-sm">secondry</button>
          <button mat-flat-button class="btn-flat-third btn-sm">third</button>
          <button mat-flat-button class="btn-flat-info btn-sm">info</button>
          <button mat-flat-button class="btn-flat-warning btn-sm">warning</button>
          <button mat-flat-button class="btn-flat-success btn-sm">success</button>
          <button mat-flat-button class="btn-flat-danger btn-sm">danger</button>
          <button mat-flat-button class="btn-flat-rose btn-sm">rose</button>
          <button mat-flat-button class="btn-flat-purple btn-sm">purple</button>
          <button mat-flat-button class="btn-flat-black btn-sm">black</button>
          <button mat-flat-button class="btn-flat-elements btn-sm">elements</button>
          <button mat-flat-button class="btn-sm" disabled>Disabled</button>
          <a mat-flat-button class="btn-sm" routerLink=".">link</a>
        </div>

        <h2 class="typo-headline-large">Flat lg Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-flat-button class="btn-lg">Flat</button>
          <button mat-flat-button class="btn-flat-primary btn-lg">primary</button>
          <button mat-flat-button class="btn-flat-secondry btn-lg">secondry</button>
          <button mat-flat-button class="btn-flat-third btn-lg">third</button>
          <button mat-flat-button class="btn-flat-info btn-lg">info</button>
          <button mat-flat-button class="btn-flat-warning btn-lg">warning</button>
          <button mat-flat-button class="btn-flat-success btn-lg">success</button>
          <button mat-flat-button class="btn-flat-danger btn-lg">danger</button>
          <button mat-flat-button class="btn-flat-rose btn-lg">rose</button>
          <button mat-flat-button class="btn-flat-purple btn-lg">purple</button>
          <button mat-flat-button class="btn-flat-black btn-lg">black</button>
          <button mat-flat-button class="btn-flat-elements btn-lg">elements</button>
          <button mat-flat-button class="btn-lg" disabled>Disabled</button>
          <a mat-flat-button class="btn-lg" routerLink=".">link</a>
        </div>
        <!-- <code #lg class="typo-body-medium text-success">
      </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(lg.textContent!)"
          [cdkCopyToClipboard]="lg.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Icon md Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-icon-button>
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-primary">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-secondry">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-third">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-info">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-warning">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-success">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-danger">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-rose">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-purple">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-black">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-elements">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button disabled>
            <shared-icon name="favorite" />
          </button>
          <a mat-icon-button routerLink=".">
            <shared-icon name="favorite" />
          </a>
        </div>

        <h2 class="typo-headline-large">Icon sm Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-icon-button class="btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-primary btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-secondry btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-third btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-info btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-warning btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-success btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-danger btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-rose btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-purple btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-black btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-elements btn-sm">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-sm" disabled>
            <shared-icon name="favorite" />
          </button>
          <a mat-icon-button class="btn-sm" routerLink=".">
            <shared-icon name="favorite" />
          </a>
        </div>

        <h2 class="typo-headline-large">Icon lg Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-icon-button class="btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-primary btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-secondry btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-third btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-info btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-warning btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-success btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-danger btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-rose btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-purple btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-black btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-icon-elements btn-lg">
            <shared-icon name="favorite" />
          </button>
          <button mat-icon-button class="btn-lg" disabled>
            <shared-icon name="favorite" />
          </button>
          <a mat-icon-button class="btn-lg" routerLink=".">
            <shared-icon name="favorite" />
          </a>
        </div>
        <!-- <code #xl class="typo-body-medium text-success">
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xl.textContent!)"
          [cdkCopyToClipboard]="xl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Fab Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-fab>
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-primary">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-secondry">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-third">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-info">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-warning">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-success">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-danger">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-rose">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-purple">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-black">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab class="btn-fab-elements">
            <shared-icon name="favorite" />
          </button>
          <button mat-fab disabled>
            <shared-icon name="favorite" />
          </button>
          <a mat-fab routerLink=".">
            <shared-icon name="favorite" />
          </a>
        </div>

        <h2 class="typo-headline-large">Mini Fab Buttons</h2>
        <div class="buttons-wrapper">
          <button mat-mini-fab>
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-primary">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-secondry">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-third">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-info">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-warning">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-success">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-danger">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-rose">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-purple">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-black">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab class="btn-mini-fab-elements">
            <shared-icon name="favorite" />
          </button>
          <button mat-mini-fab disabled>
            <shared-icon name="favorite" />
          </button>
          <a mat-mini-fab routerLink=".">
            <shared-icon name="favorite" />
          </a>
        </div>
        <!-- <code #xxl class="typo-body-medium text-success">
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xxl.textContent!)"
          [cdkCopyToClipboard]="xxl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h2 class="typo-headline-large">Extended md Fab</h2>
        <div class="buttons-wrapper">
          <button mat-fab extended>
            <shared-icon name="favorite" />
            basic
          </button>
          <button mat-fab extended class="btn-fab-extended-primary">
            <shared-icon name="favorite" />
            primary
          </button>
          <button mat-fab extended class="btn-fab-extended-secondry">
            <shared-icon name="favorite" />
            secondry
          </button>
          <button mat-fab extended class="btn-fab-extended-third">
            <shared-icon name="favorite" />
            third
          </button>
          <button mat-fab extended class="btn-fab-extended-info">
            <shared-icon name="favorite" />
            info
          </button>
          <button mat-fab extended class="btn-fab-extended-warning">
            <shared-icon name="favorite" />
            warning
          </button>
          <button mat-fab extended class="btn-fab-extended-success">
            <shared-icon name="favorite" />
            success
          </button>
          <button mat-fab extended class="btn-fab-extended-danger">
            <shared-icon name="favorite" />
            danger
          </button>
          <button mat-fab extended class="btn-fab-extended-rose">
            <shared-icon name="favorite" />
            rose
          </button>
          <button mat-fab extended class="btn-fab-extended-purple">
            <shared-icon name="favorite" />
            purple
          </button>
          <button mat-fab extended class="btn-fab-extended-black">
            <shared-icon name="favorite" />
            black
          </button>
          <button mat-fab extended class="btn-fab-extended-elements">
            <shared-icon name="favorite" />
            elements
          </button>
          <button mat-fab extended disabled>
            <shared-icon name="favorite" />
            disabled
          </button>
          <a mat-fab extended routerLink=".">
            <shared-icon name="favorite" />
            link
          </a>
        </div>

        <h2 class="typo-headline-large">Extended sm Fab</h2>
        <div class="buttons-wrapper">
          <button mat-fab extended class="btn-sm">
            <shared-icon name="favorite" />
            basic
          </button>
          <button mat-fab extended class="btn-fab-extended-primary btn-sm">
            <shared-icon name="favorite" />
            primary
          </button>
          <button mat-fab extended class="btn-fab-extended-secondry btn-sm">
            <shared-icon name="favorite" />
            secondry
          </button>
          <button mat-fab extended class="btn-fab-extended-third btn-sm">
            <shared-icon name="favorite" />
            third
          </button>
          <button mat-fab extended class="btn-fab-extended-info btn-sm">
            <shared-icon name="favorite" />
            info
          </button>
          <button mat-fab extended class="btn-fab-extended-warning btn-sm">
            <shared-icon name="favorite" />
            warning
          </button>
          <button mat-fab extended class="btn-fab-extended-success btn-sm">
            <shared-icon name="favorite" />
            success
          </button>
          <button mat-fab extended class="btn-fab-extended-danger btn-sm">
            <shared-icon name="favorite" />
            danger
          </button>
          <button mat-fab extended class="btn-fab-extended-rose btn-sm">
            <shared-icon name="favorite" />
            rose
          </button>
          <button mat-fab extended class="btn-fab-extended-purple btn-sm">
            <shared-icon name="favorite" />
            purple
          </button>
          <button mat-fab extended class="btn-fab-extended-black btn-sm">
            <shared-icon name="favorite" />
            black
          </button>
          <button mat-fab extended class="btn-fab-extended-elements btn-sm">
            <shared-icon name="favorite" />
            elements
          </button>
          <button mat-fab extended disabled class="btn-sm">
            <shared-icon name="favorite" />
            disabled
          </button>
          <a mat-fab extended routerLink="." class="btn-sm">
            <shared-icon name="favorite" />
            link
          </a>
        </div>

        <h2 class="typo-headline-large">Extended lg Fab</h2>
        <div class="buttons-wrapper">
          <button mat-fab extended class="btn-lg">
            <shared-icon name="favorite" />
            basic
          </button>
          <button mat-fab extended class="btn-fab-extended-primary btn-lg">
            <shared-icon name="favorite" />
            primary
          </button>
          <button mat-fab extended class="btn-fab-extended-secondry btn-lg">
            <shared-icon name="favorite" />
            secondry
          </button>
          <button mat-fab extended class="btn-fab-extended-third btn-lg">
            <shared-icon name="favorite" />
            third
          </button>
          <button mat-fab extended class="btn-fab-extended-info btn-lg">
            <shared-icon name="favorite" />
            info
          </button>
          <button mat-fab extended class="btn-fab-extended-warning btn-lg">
            <shared-icon name="favorite" />
            warning
          </button>
          <button mat-fab extended class="btn-fab-extended-success btn-lg">
            <shared-icon name="favorite" />
            success
          </button>
          <button mat-fab extended class="btn-fab-extended-danger btn-lg">
            <shared-icon name="favorite" />
            danger
          </button>
          <button mat-fab extended class="btn-fab-extended-rose btn-lg">
            <shared-icon name="favorite" />
            rose
          </button>
          <button mat-fab extended class="btn-fab-extended-purple btn-lg">
            <shared-icon name="favorite" />
            purple
          </button>
          <button mat-fab extended class="btn-fab-extended-black btn-lg">
            <shared-icon name="favorite" />
            black
          </button>
          <button mat-fab extended class="btn-fab-extended-elements btn-lg">
            <shared-icon name="favorite" />
            elements
          </button>
          <button mat-fab extended disabled class="btn-lg">
            <shared-icon name="favorite" />
            disabled
          </button>
          <a mat-fab extended routerLink="." class="btn-lg">
            <shared-icon name="favorite" />
            link
          </a>
        </div>
        <!-- <code #xxxl class="typo-body-medium text-success"> </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(xxxl.textContent!)"
          [cdkCopyToClipboard]="xxxl.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20"
        >
          <shared-icon name="content_copy" />
        </button> -->
      </fieldset>
    </div>
  </section>
</section>
