@import "../../../../../codex-lib/src/lib/assets/scss/screens.scss";

.login {
  min-height: 100vh;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/pages/login/login.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: hue-rotate(44deg) brightness(0.9);
    pointer-events: none;
  }

  .language-wrapper {
    position: absolute;
    top: var(--space-base);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--space-base);

    shared-language-menu {
      height: 40px;

      .login-lang {
        height: 100%;
        padding: var(--space-sm) !important;
        border-radius: var(--border-radius-rounded);

        span {
          color: var(--white-color) !important;
        }
      }
    }
  }

  .form-wrapper {
    width: 350px;
    height: 340px;
    box-shadow: 0px 5px 25px var(--bg-opacity-black-3);
    border-radius: var(--border-radius-large);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include xxxl {
      width: 400px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: repeating-conic-gradient(
        from var(--login-angel),
        var(--elements-color) 0%,
        transparent 20%,
        transparent 10%,
        transparent 80%,
        var(--elements-color) 100%
      );
      border-radius: var(--border-radius-large);
      pointer-events: none;
      animation: lighting 3s linear infinite;
    }

    span {
      position: absolute;
      inset: 1px;
      overflow: hidden;
      border-radius: var(--border-radius-large);
      pointer-events: none;
    }

    span::before {
      content: "";
      position: absolute;
      inset: 2px;
      filter: blur(10px) hue-rotate(44deg);
      background-image: url("/assets/images/pages/login/login.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    span::after {
      content: "";
      position: absolute;
      inset: 2px;
      filter: blur(15px) hue-rotate(44deg);
      background-image: url("/assets/images/pages/login/login.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-sm);
      width: 80%;
      z-index: 1;

      h4 {
        font-weight: var(--font-family) !important;
        text-transform: uppercase;
        text-align: center;
      }

      input {
        width: 100%;
        background-color: var(--bg-opacity-black-1);
        border: 0;
        color: var(--white-color);
        padding: var(--space-xs) var(--space-sm);
        outline: none;
        border-radius: 4px;

        &::placeholder {
          color: var(--bg-dark-white-4);
        }
      }

      lib-validations-messages {
        padding-inline-start: var(--space-sm);
        margin-top: -10px;
      }

      .links {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
          color: var(--white-color);
          text-transform: capitalize;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        padding: var(--space-xs) 0;
        background-color: var(--elements-color);
        color: var(--white-color);
        text-transform: capitalize;
        border: 0;
        border-radius: var(--border-radius-tiny);
        cursor: pointer;

        &[disabled] {
          color: var(--bg-dark-white-8) !important;
          background-color: var(--bg-dark-white-3) !important;
        }

        .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
        .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
          stroke: var(--elements-color);
        }
      }
    }
  }
}

@property --login-angel {
  syntax: "<angle>";
  inherits: false;
  initial-value: 360deg;
}
@keyframes lighting {
  0% {
    --login-angel: 0deg;
  }
  100% {
    --login-angel: 360deg;
  }
}
