<!-- TODO container-->
<section class="typo samples">
  <header class="samples__header">
    <h2 class="typo-display-large mb-xl margin-top-none">datepicker Forms</h2>
    <p class="typo-body-medium mb-xl">Use form to present your design and content as clearly and efficiently as possible.</p>
  </header>
  <section class="samples__body">
    <div class="samples-panel">
      <h3 class="typo-headline-medium">1- import SharedDatepickerComponent in ts file</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #importInputComponent class="typo-body-medium text-success my-base d-block">
          import &lcub; SharedDatepickerComponent &rcub; from '&commat;shared';
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(importInputComponent.textContent!)"
          [cdkCopyToClipboard]="importInputComponent.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <h3 class="typo-headline-medium">2- import GetControlPipe in ts file</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #importGetControlPipe class="typo-body-medium text-success my-base d-block">
          import &lcub; SharedDatepickerComponent, GetControlPipe &rcub; from '&commat;shared';
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(importGetControlPipe.textContent!)"
          [cdkCopyToClipboard]="importGetControlPipe.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <h3 class="typo-headline-medium">3- add to imports modules in module or stand alone component</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #addImportInputComponent class="typo-body-medium text-success my-base d-block">
          imports: [ SharedDatepickerComponent ];
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(addImportInputComponent.textContent!)"
          [cdkCopyToClipboard]="addImportInputComponent.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <h3 class="typo-headline-medium">4- add to imports modules in module or stand alone component pipe (extra step)</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #addImportInputComponent2 class="typo-body-medium text-success my-base d-block">
          imports: [ SharedDatepickerComponent, GetControlPipe ];
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(addImportInputComponent2.textContent!)"
          [cdkCopyToClipboard]="addImportInputComponent2.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <h3 class="typo-headline-medium">5- in html file declare input element with pipe</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #addHtmlInputComponent class="typo-body-medium text-success my-base d-block">
          &lt;lib-datepicker [passedFormControl]="form | getControl : 'controlName'" label="test label"&gt;&lt;/lib-datepicker&gt;
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(addHtmlInputComponent.textContent!)"
          [cdkCopyToClipboard]="addHtmlInputComponent.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <h3 class="typo-headline-medium">or without pipe and normal control (not inside any form group)</h3>
      <div class="align-item-center d-flex gap-sm my-base">
        <code #addHtmlInputComponent2 class="typo-body-medium text-success my-base d-block">
          &lt;lib-datepicker [passedFormControl]="formControl" label="test label"&gt;&lt;/lib-datepicker&gt;
        </code>
        <button
          mat-mini-fab
          (click)="showCopyToaster(addHtmlInputComponent2.textContent!)"
          [cdkCopyToClipboard]="addHtmlInputComponent2.textContent!"
          [matTooltip]="'shared.buttons.copy' | translate"
          class="bg-black-light-25 text-success-light-20 border-radius-circle"
        >
          <lib-icon name="content_copy" />
        </button>
      </div>

      <fieldset class="mb-xl border-radius-medium p-xl">
        <h3 class="d-flex align-item-center justify-content-between mb-xs typo-display-small">
          <span> reactive form with errors</span>
          <!-- <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-small')"
            [cdkCopyToClipboard]="'typo-display-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button> -->
        </h3>

        <lib-datepicker
          label="test label"
          [passedFormControl]="form | getControl : 'firstControl'"
          appearance="outline"
          hint="test hint"
          lastIcon="event_note"
          [hideValidation]="false"
          [isFullscreen]="true"
          [hasHijri]="true"
          startView="month"
          [startAt]="form.value"
          [minDate]="form.value"
          [maxDate]="form.value"
          [IDisabledDates]="{
            years: [2023, 2022, 2021, 2020],
            yearMonths: [months.May, months.July],
            weekDay: [days.Tuesday],
            days: ['5/4/2024', '6/4/2024', '11/4/2024']
          }"
        ></lib-datepicker>

        <h3 class="d-flex align-item-center justify-content-between mb-xs typo-display-small">
          <span> without reactive form with errors</span>
          <!-- <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-small')"
            [cdkCopyToClipboard]="'typo-display-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button> -->
        </h3>

        <lib-datepicker label="test label" appearance="outline"></lib-datepicker>
      </fieldset>

      <!-- TODO later adding date range -->
      <!-- <fieldset class="mb-xl border-radius-medium p-xl">
        <h3 class="d-flex align-item-center justify-content-between mb-xs typo-display-small">
          <span> reactive form with errors and hints (date ragne)</span> -->
      <!-- <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-small')"
            [cdkCopyToClipboard]="'typo-display-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button> -->
      <!-- </h3> -->

      <!-- <h3 class="d-flex align-item-center justify-content-between mb-xs typo-display-small">
          <span>without reactive form with errors and hints (date ragne)</span> -->
      <!-- <button
            mat-mini-fab
            (click)="showCopyToaster('typo-display-small')"
            [cdkCopyToClipboard]="'typo-display-small'"
            [matTooltip]="'shared.buttons.copy' | translate"
            class="bg-black-light-25 text-success-light-20 border-radius-circle"
          >
            <lib-icon name="content_copy" />
          </button> -->
      <!-- </h3>
      </fieldset> -->
    </div>
  </section>
</section>
