.wrapper {
  display: flex;
  text-align: center;

  > div {
    padding: 0;
    margin: 0;
    width: 9.090909090909091%;
    font-size: 14px;

    > div {
      // display: flex;
      align-items: stretch;
      // height: 75px;

      span {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .variant-color {
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button {
          shared-icon {
            --icon-size: 14px;
          }
        }
      }
    }
  }
}
