<!-- floatLabel="always" always | auto -->
<!-- <mat-form-field [appearance]="appearance" [class.no-validations]="hideValidation">
  <mat-label class="text-capitalize">{{ label }}</mat-label>
  <input matInput [formControl]="passedFormControl" [value]="passedFormControl.value" [placeholder]="placeholder" />

  <shared-icon *ngIf="matPrefixIconName" matPrefix [name]="matPrefixIconName"></shared-icon>
  <shared-icon *ngIf="matSuffixIconName" matSuffix [name]="matSuffixIconName"></shared-icon>
  <button *ngIf="passedFormControl.value" mat-icon-button matSuffix (click)="clearControl()">
    <shared-icon name="close"></shared-icon>
  </button>
  <mat-error>
  </mat-error>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field> -->

<div class="shared-range">
  <!-- if single range -->
  <ng-container *ngIf="passedFormControl">
    <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="stepZise" [discrete]="indecatorLabel" [showTickMarks]="showStepMark">
      <input matSliderThumb [formControl]="passedFormControl" />
    </mat-slider>
    <div class="validations" [class.no-validations]="hideValidation">
      <shared-validations-messages *ngIf="passedFormControl.touched" [errors]="passedFormControl.errors"></shared-validations-messages>
    </div>
  </ng-container>

  <!-- if double range -->
  <ng-container *ngIf="passedFirstFormControl && passedSecondFormControl">
    <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="stepZise" [discrete]="indecatorLabel" [showTickMarks]="showStepMark">
      <input matSliderStartThumb [formControl]="passedFirstFormControl" />
      <input matSliderEndThumb [formControl]="passedSecondFormControl" />
    </mat-slider>
    <div class="validations" [class.no-validations]="hideValidation">
      <!-- TODO reveal or hide validation for double range -->
      <!-- <shared-validations-messages
        *ngIf="passedFirstFormControl.touched || passedSecondFormControl.touched"
        [errors]="passedFirstFormControl.errors || passedSecondFormControl.errors"
      ></shared-validations-messages> -->
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="!passedFormControl">
    <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [max]="max"
    [min]="min"
    [step]="step"
    [discrete]="thumbLabel"
    [showTickMarks]="showTicks">
  <input matSliderThumb [(ngModel)]="value" #slider>
</mat-slider>
  </ng-container> -->
</div>
