<div class="localization-edit-resourse">
  <div class="dialog-wrapper">
    <h2 class="typo-title-large" mat-dialog-title>{{ "dashboard.pages.localization.edit_resource" | translate }}</h2>
    <mat-dialog-content>
      <div class="row">
        <div class="col-12">
          <lib-select
            [dropdownList]="languages"
            [passedFormControl]="form | getControl : 'language'"
            appearance="outline"
            optionLabelName="name"
            [multiple]="false"
            [placeholder]="'dashboard.pages.localization.language' | translate"
          ></lib-select>
        </div>
        <div class="col-12">
          <lib-select
            [dropdownList]="supportedDevices"
            [passedFormControl]="form | getControl : 'supportedDevices'"
            appearance="outline"
            optionLabelName="name"
            [multiple]="false"
            [placeholder]="'dashboard.pages.localization.supported_devices' | translate"
          ></lib-select>
        </div>
        <div class="col-12">
          <lib-input
            [passedFormControl]="form | getControl : 'translationKey'"
            [hideValidation]="true"
            appearance="outline"
            [label]="'dashboard.pages.localization.key' | translate"
          ></lib-input>
        </div>
        <div class="col-12">
          <lib-input
            [passedFormControl]="form | getControl : 'translationKeyValue'"
            [hideValidation]="true"
            appearance="outline"
            [label]="'dashboard.pages.localization.value' | translate"
          ></lib-input>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="actions">
        <lib-button theme="raised" borderRadius="rounded" [mat-dialog-close]="{ addedSuccessfully: false }">
          {{ "shared.buttons.close" | translate }}</lib-button
        >
        <lib-button
          [disabled]="form.invalid || addResourceIsLoading"
          theme="raised"
          borderRadius="rounded"
          color="success"
          (click)="submit()"
        >
          {{ "shared.buttons.edit" | translate }}
        </lib-button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
