@import "src/assets/scss/fonts";

:host {
  display: inline-flex;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 48;
  font-size: $icon-font-size;
}

.fill {
  font-variation-settings: "FILL" 1;
}
