<div class="dashboard-localization-page">
  <div class="dashboard-page-header">
    <div class="title-with-actions">
      <div class="title">
        <h3 class="typo-title-large">{{ "dashboard.pages.localization.title" | translate }}</h3>
      </div>
      <div class="actions">
        <lib-icon-button
          iconName="filter_list"
          theme="raised"
          (click)="toggleAdvancedSearsh()"
          [matTooltip]="'shared.buttons.more_filters' | translate"
        >
        </lib-icon-button>
        <lib-button theme="raised" borderRadius="rounded" color="success" (click)="addResource()"
          ><lib-icon name="add" /> {{ "shared.buttons.add" | translate }}</lib-button
        >
      </div>
    </div>
    <div class="advanced-search">
      <lib-accordion
        [expandOnlyOne]="true"
        [hideToggleIcon]="false"
        [toggleIconPosition]="'after'"
        [accordions]="[
          {
            body: formTemplate,
            hideToggleIcon: true,
            collapsedHeaderHeight: '0px',
            expandedHeaderHeight: '0px'
          }
        ]"
      >
        <ng-template #formTemplate>
          <div class="form row">
            <div class="col-sm-6">
              <lib-select
                [dropdownList]="languages"
                [passedFormControl]="form | getControl : 'language'"
                appearance="outline"
                optionLabelName="name"
                [placeholder]="'dashboard.pages.localization.language' | translate"
              ></lib-select>
            </div>
            <div class="col-sm-6">
              <lib-select
                [dropdownList]="supportedDevices"
                [passedFormControl]="form | getControl : 'supportedDevices'"
                appearance="outline"
                optionLabelName="name"
                [placeholder]="'dashboard.pages.localization.supported_devices' | translate"
              ></lib-select>
            </div>
            <div class="col-sm-6">
              <lib-input
                [passedFormControl]="form | getControl : 'translationKey'"
                [hideValidation]="true"
                appearance="outline"
                [label]="'dashboard.pages.localization.key' | translate"
              ></lib-input>
            </div>
            <div class="col-sm-6">
              <lib-input
                [passedFormControl]="form | getControl : 'translationKeyValue'"
                [hideValidation]="true"
                appearance="outline"
                [label]="'dashboard.pages.localization.value' | translate"
              ></lib-input>
            </div>
            <div class="col-12 d-flex gap-xs">
              <lib-button
                [disabled]="form.invalid || dataTableIsLoading"
                theme="raised"
                borderRadius="rounded"
                color="elements"
                (onClick)="submit(true)"
                ><lib-icon name="search" /> {{ "shared.buttons.search" | translate }}
              </lib-button>
              <lib-button [disabled]="form.invalid || dataTableIsLoading" theme="raised" borderRadius="rounded" (onClick)="resetForm()"
                ><lib-icon name="undo" /> {{ "shared.buttons.reset" | translate }}
              </lib-button>
            </div>
          </div>
        </ng-template>
      </lib-accordion>
    </div>
  </div>

  <div class="table-section">
    <!-- [first]="pagination.totalItems" -->
    <lib-table
      [data]="dataTable"
      [currentPage]="pagination.currentPage"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [itemsPerPageSelected]="pagination.pageSize"
      [isLoading]="dataTableIsLoading"
      [columns]="[
        { key: 'languageName', headerTranslationKey: 'dashboard.pages.localization.language' },
        { key: 'key', headerTranslationKey: 'dashboard.pages.localization.key' },
        { key: 'text', headerTranslationKey: 'dashboard.pages.localization.value' },
        { key: 'resourceType', headerTranslationKey: 'dashboard.pages.localization.supported_devices' },
        { key: 'actions', headerTranslationKey: 'shared.actions', template: actions, columnClass: 'table-actions' }
      ]"
      (onPage)="onPageChange($event)"
    >
      <ng-template #actions let-item>
        <div class="d-flex">
          <lib-icon-button iconName="close" theme="stroked" color="danger" (click)="deleteResource(item)" matTooltip="delete">
          </lib-icon-button>
          <lib-icon-button iconName="edit" theme="stroked" (click)="editResource(item)" matTooltip="edit"> </lib-icon-button>
        </div>
      </ng-template>
    </lib-table>
  </div>
</div>
