// @import "src/assets/scss/colors";
.wrapper {
  > div {
    padding: 0;
    margin: 0;
    font-size: 2vw;

    > div {
      // display: flex;
      align-items: stretch;
      // height: 75px;

      span {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .variant-color {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
