<h2 class="text-center">colors pallate</h2>
<section class="wrapper">
  <div class="bg-primary">
    <div class="">
      <div class="variant-color text-white gradient-primary">primary gradient</div>
    </div>
    <div class="">
      <span>primary</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-primary-light-' + color"
      >
        .bg-primary-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">primary</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-primary-dark-' + color"
      >
        .bg-primary-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-secondry">
    <div class="">
      <div class="variant-color text-white gradient-secondry">secondry gradient</div>
    </div>
    <div class="">
      <span>secondry</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-secondry-light-' + color"
      >
        .bg-secondry-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">secondry</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-secondry-dark-' + color"
      >
        .bg-secondry-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-third">
    <div class="">
      <div class="variant-color text-white gradient-third">third gradient</div>
    </div>
    <div class="">
      <span>third</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-third-light-' + color"
      >
        .bg-third-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">third</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-third-dark-' + color"
      >
        .bg-third-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-info">
    <div class="">
      <div class="variant-color text-white gradient-info">info gradient</div>
    </div>
    <div class="">
      <span>info</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-info-light-' + color"
      >
        .bg-info-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">info</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-info-dark-' + color"
      >
        .bg-info-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-warning">
    <div class="">
      <div class="variant-color text-white gradient-warning">warning gradient</div>
    </div>
    <div class="">
      <span>warning</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-warning-light-' + color"
      >
        .bg-warning-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">warning</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-warning-dark-' + color"
      >
        .bg-warning-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-success">
    <div class="">
      <div class="variant-color text-white gradient-success">success gradient</div>
    </div>
    <div class="">
      <span>success</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-success-light-' + color"
      >
        .bg-success-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">success</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-success-dark-' + color"
      >
        .bg-success-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-danger">
    <div class="">
      <div class="variant-color text-white gradient-danger">danger gradient</div>
    </div>
    <div class="">
      <span>danger</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-danger-light-' + color"
      >
        .bg-danger-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">danger</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-danger-dark-' + color"
      >
        .bg-danger-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-rose">
    <div class="">
      <div class="variant-color text-white gradient-rose">rose gradient</div>
    </div>
    <div class="">
      <span>rose</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-rose-light-' + color"
      >
        .bg-rose-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">rose</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-rose-dark-' + color"
      >
        .bg-rose-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-purple">
    <div class="">
      <div class="variant-color text-white gradient-purple">purple gradient</div>
    </div>
    <div class="">
      <span>purple</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-purple-light-' + color"
      >
        .bg-purple-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">purple</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-purple-dark-' + color"
      >
        .bg-purple-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-white">
    <div class="">
      <div class="variant-color text-white gradient-white">white gradient</div>
    </div>
    <div class="">
      <span>white</span>
      <div
        class="variant-color text-black"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-white-light-' + color"
      >
        .bg-white-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="">white</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-white-dark-' + color"
      >
        .bg-white-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="bg-black">
    <div class="">
      <div class="variant-color text-white gradient-black">black gradient</div>
    </div>
    <div class="">
      <span>black</span>
      <div
        class="variant-color"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-black-light-' + color"
      >
        .bg-black-light-{{ color }}
      </div>
    </div>
    <div class="">
      <span class="text-white">black</span>
      <div
        class="variant-color text-white"
        *ngFor="let color of [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]"
        [class]="'bg-black-dark-' + color"
      >
        .bg-black-dark-{{ color }}
      </div>
    </div>
  </div>
  <br />
  <br />
</section>
